.card {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-tertiary);
}

.body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 2px;
}

.title {
    display: flex;
    gap: 10px;
}

.alertIcon {
    font-size: 20px;
}

.anomalyCardTitle {
    font-size: 17px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
}

.updates {
    display: flex;
    gap: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-right: 40px;
}

.view {
    height: 35px;
    width: 70px;
    background-color: var(--bg-primary);
    transition: background-color 0.2s;
    cursor: pointer;
}

.view:hover {
  background-color: var(--bg-tertiary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}