.navbarContainer {
    min-height: 100vh;
    width: 220px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-tertiary);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    gap: 10px;
}

.settingsContainer {
    margin-top: 130%;
}

.button {
    height: 45px;
    display: flex;
    align-items: center;
    background-color: var(--bg-secondary);
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button.active, .button:hover {
  background-color: var(--bg-tertiary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.icon {
    margin-left: 10%;
    font-size: large;
}

.text {
    margin-left: 5%;
    font-size: 15px;
}