* {
  box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.page {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    overflow-y: auto;
}

html, body {
  height: 100%;
  overflow: hidden;
}