h1, h2, h3, p {
  margin: 0;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    padding-right: 25px;
}

.mainContainer {
    padding: 30px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.anomalyContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}