html, body {
  margin: 0;
  padding: 0;
}

:root {
  /* Background Colours */
  --bg-primary: #FFFDF6;
  --bg-secondary: #B4B8AB;
  --bg-tertiary: #A6AB9C;

  /* Text Colours */
  --text-primary: #000000;
  --text-secondary: #252525;

  /* Extra Colour / Details */
  --accent-primary: #DDE7DA;

}