html, body {
  margin: 0;
  padding: 0;
}

:root {
  /* Background Colours */
  --bg-primary: #ffffff;
  --bg-secondary: #86AEE9;
  --bg-tertiary: #EBEBEB;

  /* Text Colours */
  --text-primary: #34372F;

  /* Extra Colour / Details */
  --accent-primary: #75A2E6;
  --accent-secondary: #A9C5EF;
  --accent-tertiary: #CCCCCC;

}