:root {
  /* Background Colours */
  --bg-primary: #ffffff;
  --bg-secondary: #f3f3f3;

  /* Text Colours */
  --text-primary: #000000;
  --text-secondary: #252525;

  /* Extra Colour / Details */
  --accent-primary: #e9bbbb;
}